

.pokemon-grid {
    color: red;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
    justify-items: center;
  }
  .title-pokemon {
    text-align: center;
  }
  .pokemon-img {
    display: flex;
    justify-content: center;
  }
  .pokemon-card {
    background: beige;
    min-width: 100%;
  }
  .pokemon-div{
    
  }